<window contentStyle="margin: 0 auto;" contentSclass="center-block"
        apply="com.gitlab.vm.VideosPublicVM" height="100%">
    <borderlayout height="100%">
        <west>
            <navfilters id="navegationFilters" classes="com.gitlab.domain.Categoria:com.gitlab.domain.Actriz"></navfilters>
        </west>
        <center>
            <tabbox height="100%">
                <tabs>
                    <tab label="Test" visible="false"></tab>
                </tabs>
                <tabpanels>
                    <crudview id="crudView" klass="com.gitlab.domain.Video:true"></crudview>
                </tabpanels>
            </tabbox>
        </center>
    </borderlayout>
</window>