<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>
<?taglib uri="http://labels.ats.pedrioko/taglib" prefix="my"?>
<!--selectedItem="@bind(ct.selectValue)"-->
<div viewModel="@id('ct') @init('com.gitlab.pedrioko.core.zk.viewmodel.crud.table.CrudTable')"
     sclass="container-95" xmlns:ca="client/attribute"
     hflex="min">
    <div sclass="row d-flex justify-content-between pl-3 pr-3" children="@bind(ct.items)">
        <template name="children" var="itemList">
            <divv sclass="col-sm-12 col-md-3 col-lg-3 col-12 d-flex d-column row container-v" value="@load(itemList)"
                  onClick="ct.setSelectValue(self.value)" ca:tabIndex="0">
                <div sclass="d-flex justify-content-between flex-column pt-3 h-100 w-100">
                    <div sclass="img-viewer w-100 h-100  preview-v rounded bg-dark">
                        <image sclass="img-responsive w-100"
                               src="@load( c:cat( '/statics/files' , c:replace(itemList.shorturl ,'\\', '/' )))"/>
                    </div>
                    <div sclass="w-100 text-center label-v">
                        <label value="@load(itemList.name)"/>
                        <label value="@load(itemList.size)"/>
                        <label value="@load(itemList.uploadDate)"/>
                    </div>
                </div>
            </divv>

        </template>
    </div>
</div>
